.heading-1 {
    font-size: 1.7rem;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.heading-2{
    font-size: 1rem;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: rgb(56, 121, 206);
}


.heading-3{
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

main{
    padding-top: 35px;
}

.encabezado-factura{
    display: flex;
    justify-content: space-between; /* Distribuye espacio entre los elementos */
    align-items: center; 
    width: 100%;
}

.container-cart{
    padding: 15px 0px;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 45px;
    align-items: center;
    box-shadow: 0 8px 16px #0000004d;
    border-radius: 8px; 
    border: 2px solid transparent;
    background-color: #f3f3f3;
}

.separador-detalle {
    box-shadow: 0 4px 8px #0000004d;
    border-radius: 8px; 
    border: 2px solid transparent;
    padding: 15px; /* Añadido para asegurarse de que hay espacio interno */
}

.container-product {
    border-bottom: 3px solid #dee2e6;
    margin-top: 34px;
}

.value {
    text-align: center;
}

.separador{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b2b2b2;
    border-top: 1px solid #b2b2b2;
    justify-content: center;
}

.encabezado-input{
    display: flex;
    position: relative;
}

.encabezado-input img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.ps-5 {
    padding-left: 2.5rem; 
}

/* Para el contador */
.smaller-input{
    width: 100%;

}

/* En factura */
.contenedor {
    margin-right: 60px;
    margin-left: 60px;
    align-items: center;
}

.container {
	margin: 0 auto;
    transition: padding 0.3s ease;
    padding: 20px;
}