*{
    font-family: 'Poppins', sans-serif;
}
.btn-navbar{
    width: 40px;
    height: 34px;
    transition: transform 0.3s ease;
}
.btn-navbar:hover{
    transform: scale(1.05);
}
.search{
    width: 40%;
}
.nav-animation:hover{
    text-decoration: underline;
}