.container-img {
    position: relative;
    aspect-ratio: 1;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img img {
    object-fit: contain;
    max-width: 95%;
    height: auto
}

.cajon-sombra {
    box-shadow: 0px 8px 16px #686868;
    border-radius: 8px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid transparent;

}