.cajon-sombra {
    box-shadow: 0px 8px 16px #686868;
    border-radius: 8px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid transparent;

}

.img-text-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.img-text-container img {
    max-width: 100%;
    height: auto;
}
.img-text-container .text {
    flex: 1;
    padding: 10px;
}

.links{
    color: green;
}